header{
    height:80px;
    background-color: brown;
}




#brand{
    float:left;
    color:white;
    font-size: 60px;
    
}

a{
    text-decoration: none;
}
#social{
    float:right;
    margin:10px;
    
    
}

#mainContainer{
    display: flex;
    flex-direction: row;
    margin:20px;
   
  
}



.filters span input{
    margin: 5px;
}







#filters{
   
    height:100%;
    width:20%;;
    margin-top:10%;
    margin-left:5%;
    box-shadow: 5px 10px 18px #888888;
    padding:15px;

}


#cuisine>span{
    white-space: nowrap;
   
 
}

#cuisine,#cost{
    margin-top:20%;
}

h4{
        text-align: center
}

#mainContent{
    
    height:100%;
    width:60%;
    margin-left:10%;
    
}

#searchBar{
    border:1px solid grey;
    width:100%;
    margin-top:10%;
   
    height:25px;


}

.searchInput{
    border-style: hidden;
}

.card{
  
    margin-top:5%;
    
    -webkit-box-shadow: 0 0 5px 2px #fff;
    -moz-box-shadow: 0 0 5px 2px #fff;
    box-shadow: 0 0 5px 2px rgb(202, 215, 228);
    border-radius: 5px;
   
    height:240px;
    display: flex;
    
   
    align-items: center;
    
    
}



.cardImg{
    height:160px;
    border-radius: 10px;
    width:300px;
    margin-left: 10px;
  
}

.cardContent{
   
    padding-left:10px;
   }

.cardContentBtn{
    display: flex;
    gap:30px;
    margin:10px 10px 20px 10px;
}

.blueBtn{
    background-color: rgba(66, 66, 226, 0.756);
    color: white;
    border: white;
    font-weight: bold;
    
}

.greenBtn{
    background-color:green;
    color: white;
    border: white;
    font-weight: bold;


}

.redBtn{

    background-color:rgb(192, 76, 76);
    color: white;
    border: white;
    font-weight: bold;

}


.skyBluBtn{

    background-color: rgb(18, 152, 205);
    color: white;
    border: white;
    font-weight: bold;

}


@media screen and (max-width: 865px) {
    .cardContentBtn{
        flex-direction: column;
    }
    .cardImg{
        width:200px;

    }
    .card{
        height: 280px;
    }

   
  }

  @media screen and (max-width: 670px) {
    .cardContentBtn{
        flex-direction: column;
    }
    .cardImg{
        width:100px;

    }
    .card{
        height: 290px;
    }

   
  }


